<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> רשימת לקוחות </h1>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> פרטי הלקוחות </h3>
            </div>
            <md-content layout-padding="">
                <br>
                <input  ng-model="query" placeholder="חפש לקוח" class="form-control">
                <br>
                <table id="reportsTable" class="table table-striped" dir="rtl">
                    <thead dir="rtl">
                    <tr>
                        <th><span class="glyphicon glyphicon-user"> </span> שם</th>
                        <th><span class="glyphicon glyphicon-home"></span> שם משפחה</th>
                        <th><span class="glyphicon glyphicon-glass"></span> תאריך לידה</th>
                        <th><span class="glyphicon glyphicon-envelope"></span> דוא"ל</th>
                        <th><span class="glyphicon glyphicon-phone"></span> טלפון</th>
                        <th><span class="glyphicon glyphicon-phone"></span>תוקף מנוי</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in clientList | filter: query ">
                        <td>{{item.name}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.birthday}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.membershipDate}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-content>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>
