<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" dir="rtl"  id="topNav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href ng-click=switchState('adminHome') id="brndTitle">אפליקציית התראות-אתר מנהל</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav side-nav">
                    <li class="usrProfile">
                        <h2 class="brand">
                            <small> {{email}}</small>
                        </h2>
                        <img src="../../style/gallery/agi_2.png" class="user-avatar"/><br />
                        <a href class="btn btn-white btn-outline btn-rounded btn-sm" ng-click="logOut()">
                            <i class="fa fa-fw fa-power-off"></i> יציאה
                        </a>
                    </li>
                    <li>
                        <a href ng-click=switchState('adminHome') class="fa fa-home"> בית </a>
                    </li>

                    <li>
                        <a href ng-click=switchState('sendAlerts') class="fa fa-table"> ניהול תוכן לללקוחות</a>
                    </li>

                    <li>
                        <a href ng-click=switchState('autoAlerts') class="fa fa-bell"> התראות מתוזמנות </a>
                    </li>
                    <li>
                        <a href ng-click=switchState('manageUsers')  class="fa fa-cog"> ניהול משתמשים</a>
                    </li>

                    <li>
                        <a href ng-click=switchState('editProfile') class="fa fa-user"> החשבון שלי </a>
                    </li>

                </ul>
            </div>
        </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div>
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>