<div class="row" >
    <div class="col-lg-12">
        <h1 class="page-header">התראות אוטומטיות </h1>
    </div>
    <div class="col-lg-10" >
        <form name="userForm" ng-submit="submitData()">
            <div class="col-lg-5">
                <p >בחר שעה בה תוצג ההתראה:</p>
                <div uib-timepicker ng-model="sendData.mytime" minute-step="mstep" hour-step="hstep" show-meridian=false required></div>
                <pre class="alert alert-info">השעה שבחרת היא: {{sendData.mytime | date:'shortTime'}}</pre>
                <button type="button" class="btn btn-danger" ng-click="clear()">נקה</button>
                <br>
                <div class="col-lg-7">
                    <md-content>
                        <md-select ng-model="sendData.selectedFromDay" placeholder="בחר יום התחלה"  required>
                            <md-option ng-repeat="item in fromDay" ng-value="{item}">
                                {{item}}
                            </md-option>
                        </md-select>
                    </md-content>
                    <md-content>
                        <md-select ng-model="sendData.selectedToDay" placeholder="בחר יום סיום" required>
                            <md-option ng-repeat="item in toDay" ng-value="{item}">
                                {{item}}
                            </md-option>
                        </md-select>
                    </md-content>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <md-radio-group layout="row" layout-padding="20" dir="rtl" ng-model="data.display">
                    <md-radio-button value="all">שלח לכולם</md-radio-button>
                    <md-radio-button value="topic">שלח לפי נושא</md-radio-button>
                    <md-radio-button value="class">שלח לפי שיעור</md-radio-button>
                </md-radio-group>
                <div class="col-lg-5">
                    <label>
                        <input type="checkbox" ng-model="addLink">
                        הוסף לינק להודעה
                    </label><br/>
                    <div ng-show="addLink==true" >
                        <md-input-container class="md-block">
                            <label>הזן כאן את כתובת האתר שברצונך להפנות אליה</label>
                            <textarea name="link" ng-model="sendData.urlPath" cols="50" rows="1"  md-select-on-focus ng-pattern="regexUrl"></textarea>
                            <div ng-messages="userForm.link.$error">
                                <div ng-message="pattern">
                                    <div class="alert alert-warning">
                                        <strong>טעות בכתובת! </strong>   הזן כתובת אתר חוקית לדוגמא: http://www.google.com
                                    </div>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div ng-show="data.display ==='topic'">
                        <md-content>
                            <md-select ng-model="sendData.selectedTopic" placeholder="בחר קבוצת עוקבים" required>
                                <md-option ng-repeat="item in allTopics" ng-value="{item}">
                                    {{item.topicTitle}}
                                </md-option>
                            </md-select>
                        </md-content>
                    </div>
                    <div ng-show="data.display ==='class'">
                        <md-content>
                            <md-select ng-model="sendData.selectedClass" placeholder="בחר שיעור" required>
                                <md-option ng-repeat="item in allClasses" ng-value="{item}">
                                    {{item.name}}
                                </md-option>
                            </md-select>
                        </md-content>
                    </div>
                    <md-input-container class="md-block">
                        <label>נושא ההודעה</label>
                        <textarea name="title" ng-model="sendData.title" md-maxlength="50" rows="1" cols="40"  md-select-on-focus required ng-pattern="regexTitle"></textarea>
                        <div ng-messages="userForm.title.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                            <div ng-message="pattern">
                                <div class="alert alert-warning">
                                    <strong>טעות !</strong>                                                שדה זה צריך להכיל מקסימום 50 תווים
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>תוכן ההודעה</label>
                        <textarea name="body" ng-model="sendData.message" md-maxlength="2000" rows="4"  md-select-on-focus  required ng-pattern="regexMessage"></textarea>
                        <div ng-messages="userForm.body.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                            <div ng-message="pattern">
                                <div class="alert alert-warning">
                                    <strong>טעות !</strong>                                                שדה זה צריך להכיל מקסימום 2000 תווים
                                </div>
                            </div>
                        </div>
                        <br>
                        <md-button  type="submit" class="md-raised md-primary">צור התראה מתוזמנת</md-button>
                </div>
            </div>
        </form>
        </md-input-container>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> רשימת התראות </h3>
            </div>
            <md-content layout-padding="">
                <br>
                <input  ng-model="query" placeholder="חפש התראה" class="form-control">
                <br>
                <table id="reportsTable" class="table table-striped" dir="rtl">
                    <thead dir="rtl">
                    <tr>
                        <th><span class="fa fa-clock-o"> </span> שעה</th>
                        <th><span class="fa fa-hourglass-start"></span> יום התחלה</th>
                        <th><span class="fa fa-hourglass-end"></span> יום סיום</th>
                        <th><span class="fa fa-briefcase"></span> נושא </th>
                        <th><span class="glyphicon glyphicon-envelope"></span> כותרת </th>
                        <th><span class="glyphicon glyphicon-edit"></span> מחיקה </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in alertList |filter: query">
                        <td ng-bind="item.time"></td>
                        <td ng-bind="item.fromDay"></td>
                        <td ng-bind="item.toDay"></td>
                        <td ng-bind="item.topic"></td>
                        <td ng-bind="item.title"></td>
                        <td ng-click="deleteAlert(item)"><span class="fa fa-trash"></span></td>
                    </tr>
                    </tbody>
                </table>
            </md-content>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>