<div class="login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"id="logP">
            <img src="../../style/gallery/yogalogo.png"/>
            <h1 >Yoga Alerts</h1>
            <form name="logInForm" role="form" ng-submit="submitData()">
                <md-input-container class="md-icon-float md-block" style="text-align: right">
                    <input id="inpEmail" name="email" ng-pattern="regexMail" type="email" ng-model="data.email" placeholder="דואר אלקטרוני" required>
                    <div ng-messages="logInForm.email.$error">
                        <div ng-message="required">
                            שדה חובה
                        </div>
                        <div ng-message="pattern">
                            <div class="alert alert-warning">
                                <strong>טעות במייל! </strong>הזן כתובת מייל חוקית
                            </div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" style="text-align: right">
                    <input name="password" type="password" ng-pattern="regexPassword" ng-model="data.password" placeholder="סיסמא" required>
                    <div ng-messages="logInForm.password.$error">
                        <div ng-message="required">
                            שדה חובה
                        </div>
                        <div ng-message="pattern">
                            <div class="alert alert-warning">
                                <strong>טעות בסיסמא! </strong>הזן סיסמא חוקית
                            </div>
                        </div>
                    </div>
                </md-input-container>
                <div><a href ng-click="switchState('passwordRecovery')">שכחתי סיסמא</a></div>
                <md-input-container>
                    <button id="bLogin" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">כניסה</button>
                    <button id="bRegis" type="button" class="btn btn-white btn-outline btn-lg btn-rounded" ng-click="switchState('signUp')">הרשמה</button>
                </md-input-container>
            </form>
        </div>
    </div>
</div>

