<div class="row">
    <h1 class="page-header">ניהול משתמשים</h1>
    <div class="col-lg-5">
        <div class="panel panel-platColor2">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users"></i> עדכון תוקף מנוי </h3>
            </div>
            <form name="deleteUserForm" ng-submit="updateMembership()">
                <div class="panel-body">
                    <md-input-container class="md-active" flex-gt-sm="">
                        <md-select ng-model="data.selectedUser_1" aria-label="Close" name="user" placeholder="בחר אימייל של לקוח   "
                                   required>
                            <md-option ng-repeat="item in allUsers"  ng-value={item}>
                                {{item.email}}
                            </md-option>
                        </md-select>

                    </md-input-container>
                    <div class="form-group">
                        <md-datepicker
                                ng-model="data.date"
                                md-placeholder="תאריך"
                                name="date">
                        </md-datepicker>
                    </div>
                </div>
                <br><br>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success btn-md">עדכן מנוי</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-platColor2">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users"></i> מחיקת לקוחות </h3>
            </div>
            <form name="deleteUserForm" ng-submit="deleteUser()">
                <div class="panel-body">
                    <md-input-container class="md-active" flex-gt-sm="">
                        <md-select ng-model="data.selectedUser_2" aria-label="Close" name="user" placeholder="בחר אימייל של משתמש"
                                   required="">
                            <md-option ng-repeat="item in allUsers" ng-value="{item}">
                                {{item.email}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <input name="password" ng-model="data.password" placeholder="הזן סיסמא לצורך אישור מחיקה"
                               ng-pattern="regexPassword" type="password" required>
                        <div ng-messages="deleteUserForm.password.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                            <div ng-message="pattern">
                                <div class="alert alert-warning">
                                    <strong>טעות בסיסמא!</strong> סיסמא צריכה להכיל אות קטנה אות גדולה ומספרים באורך של
                                    6 תווים לפחות
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success btn-md">מחק לקוח מהמערכת</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <form name="userToClassForm" ng-submit="userToClass()">
        <div class="panel panel-platColor2">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users"></i> ציוות לקוחות לשיעורים </h3>
            </div>

            <md-input-container class="md-active" flex-gt-sm="">
                <md-select ng-model="data.selectedUser_3" aria-label="Close" name="user" placeholder="בחר אימייל של משתמש"
                           required="">
                    <md-option ng-repeat="item in allUsers" ng-value="{item}">
                        {{item.email}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-active" flex-gt-sm="">
                <md-select ng-model="data.class" aria-label="Close" name="class" placeholder="בחר שיעור לצוות ללקוח זה"
                           required="">
                    <md-option ng-repeat="item in allClasses" ng-value="{item}">
                        {{item.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div class="panel-footer">
                <button type="submit" class="btn btn-success btn-md">צוות</button>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-4">
    <form name="deleteFromClassForm" ng-submit="deleteFromClass()">
        <div class="panel panel-platColor2">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users"></i> מחיקת לקוחות משיעורים </h3>
            </div>

            <md-input-container class="md-active" flex-gt-sm="">
                <md-select ng-change="findMyClasses()" ng-model="data.selectedUser_4" aria-label="Close" name="user" placeholder="בחר אימייל של משתמש"
                           required="">
                    <md-option ng-repeat="item in allUsers" ng-value="{item}">
                        {{item.email}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-active" flex-gt-sm="">
                <md-select  ng-model="data.class_to_remove" aria-label="Close" name="class" placeholder="בחר שיעור למחיקה עבור לקוח זה"
                           required="">
                    <md-option ng-repeat="item in userClassArray" ng-value="{item}">
                        {{item.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div class="panel-footer">
                <button type="submit" class="btn btn-success btn-md">מחק</button>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-3">
    <div class="panel panel-platColor2">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-users"></i>הוספת לקוח חדש</h3>
        </div>
        <label layout-padding="10px">
            <input type="checkbox" name="adminToken" ng-model="data.adminToken"><b>סמן לשליחת מפתח עבור מנהל</b><br>
        </label>
        <form name="newClientToken" ng-submit="addNewClient()">
            <md-input-container class="md-icon-float md-block">
                <input name="newClientMail" ng-model="data.newEmail" placeholder="הזן מייל של הלקוח/מנהל החדש"
                       ng-pattern="regexMail" type="email" required>
                <div ng-messages="newClientToken.email.$error">
                    <div ng-message="required">
                        שדה חובה
                    </div>
                    <div ng-message="pattern">
                        <div class="alert alert-warning">
                            <strong>טעות!</strong> הזן כתובת מייל תקינה
                        </div>
                    </div>
                </div>
            </md-input-container>
            <div class="panel-footer">
                <button type="submit" class="btn btn-success btn-md">שלח מפתח ללקוח/מנהל זה</button>
            </div>
        </form>
    </div>
</div>
