<div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"id="logP">
        <div class="col-lg-12">
            <img src="../../style/gallery/yogalogo.png"/>
            <form name="recoveryStageOneForm" ng-submit="submitData()">
            <h4 class="modal-title">שחזור סיסמא</h4>
            <md-input-container class="md-block" flex-gt-sm="">
                    <input ng-model="data.email" placeholder="הכנס דואר אלקטרוני" name="email" ng-pattern="regexMail" type="email" required>
                <div ng-messages="recoveryStageOneForm.email.$error">
                    <div ng-message="required">
                        שדה חובה
                    </div>
                    <div ng-message="pattern">
                        <div class="alert alert-warning">
                            <strong>טעות במייל! </strong>הזן כתובת מייל חוקית
                        </div>
                    </div>
                </div>
            </md-input-container>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button  type="submit" class="md-raised md-primary">שחזר</md-button>
                    <md-button ng-click="switchState('logIn')" class="md-raised">חזור</md-button>
                </section>
            </form>
        </div>
    </div>
</div>

