<div class="row">
    <div class="col-lg-10">
        <h1 class="page-header"> שליחת התראות </h1>
        <div class="panel  panel-platColor5">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-envelope"></i> שליחת התראה חדשה </h3>
            </div>
            <form name="userForm" ng-submit="submitData()" >
                <div class="panel-body">
                    <p><b>למי תרצה לשלוח את ההתראה?</b></p>
                    <md-radio-group layout="row" layout-padding="20" dir="rtl" ng-model="data.display">
                        <md-radio-button value="all">שלח לכולם</md-radio-button>
                        <md-radio-button value="topic">שלח לפי נושא</md-radio-button>
                        <md-radio-button value="client">שלח התראה ללקוח בודד</md-radio-button>
                        <md-radio-button value="class">שלח התראה לפי שיעור</md-radio-button>
                    </md-radio-group>
                    <div class="col-lg-6" ng-show="data.display ==='client'">
                        <md-content>
                            <md-select ng-model="sendData.selectedUserName" placeholder="בחר לקוח" required>
                                <md-option ng-repeat="item in allUsers" ng-value="{item}" >
                                    {{ item.name + ' ' + item.lastName + ' - '+ item.email }}
                                </md-option>
                            </md-select>
                        </md-content>
                    </div>

                    <div class="col-lg-6" ng-show="data.display ==='topic'">
                        <md-content>
                            <md-select ng-model="sendData.selectedTopic" placeholder="בחר נושא" required>
                                <md-option ng-repeat="item in allTopics" ng-value="{item}">
                                    {{item.topicTitle+"-"+item.nameHebrew}}
                                </md-option>
                            </md-select>
                        </md-content>
                    </div>
                    <div class="col-lg-6" ng-show="data.display ==='class'">
                        <md-content>
                            <md-select ng-model="sendData.selectedClass" placeholder="בחר שיעור" required>
                                <md-option ng-repeat="item in allClasses" ng-value="{item}">
                                    {{item.name}}
                                </md-option>
                            </md-select>
                        </md-content>
                    </div>
                </div>
                <p><b>האם ברצונך להוסיף קישור או תמונה להתראה זו?</b></p>
                <md-radio-group layout="col" layout-padding="10" dir="rtl" ng-model="data.links">
                    <md-radio-button value="noAdd">ללא</md-radio-button>
                    <md-radio-button value="link">הוסף קישור להתראה</md-radio-button>
                    <md-radio-button value="image">הוסף תמונה להתראה</md-radio-button>
                </md-radio-group>
                <div ng-show="data.links=='link'" >
                    <md-input-container class="md-block">
                        <label>הזן כאן את כתובת האתר שברצונך להפנות אליו</label>
                        <textarea name="link" ng-model="sendData.urlPath" cols="50" rows="1"  md-select-on-focus ng-pattern="regexUrl"></textarea>
                        <div ng-messages="userForm.link.$error">
                            <div ng-message="pattern">
                                <div class="alert alert-warning">
                                    <strong>טעות בכתובת! </strong>   הזן כתובת אתר חוקית לדוגמא: http://www.google.com
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div ng-show="data.links=='image'" >
                    <md-input-container class="md-block">
                        <label>הזן כאן את הקישור לתמונה שברצונך להוסיף להתראה</label>
                        <textarea name="linkImage" ng-model="sendData.urlPathImage" cols="50" rows="1"  md-select-on-focus ng-pattern="regexUrl"></textarea>
                        <div ng-messages="userForm.linkImage.$error">
                            <div ng-message="pattern">
                                <div class="alert alert-warning">
                                    <strong>טעות בכתובת! </strong>   הזן כתובת חוקית לדוגמא: http://www.google.com/someImage
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <label layout-padding="10px">
                    <input type="checkbox" name="contactUs" ng-model="data.contactUs"><b>הוסף ללקוח כפתור ליצירת קשר עבור התראה זו</b><br>
                </label>
                <md-input-container class="md-block">
                    <label>נושא</label>
                    <textarea name="title" ng-model="sendData.title" md-maxlength="50" rows="1" cols="40"  md-select-on-focus required ng-pattern="regexTitle"></textarea>
                    <div ng-messages="userForm.title.$error">
                        <div ng-message="required">
                            שדה חובה
                        </div>
                        <div ng-message="pattern">
                            <div class="alert alert-warning">
                                <strong>טעות !</strong>                                                שדה זה צריך להכיל מקסימום 50 תווים
                            </div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>תוכן</label>
                    <textarea name="message" ng-model="sendData.message" md-maxlength="2000" rows="4"  md-select-on-focus  required ng-pattern="regexMessage"></textarea>
                    <div ng-messages="userForm.message.$error">
                        <div ng-message="required">
                            שדה חובה
                        </div>
                        <div ng-message="pattern">
                            <div class="alert alert-warning">
                                <strong>טעות !</strong>                                                שדה זה צריך להכיל מקסימום 2000 תווים
                            </div>
                        </div>
                    </div>
                </md-input-container>
                <md-button  type="submit" class="md-raised md-primary">שלח התראה</md-button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="page-header">יצירת נושאים למעקב</h1>
            <div class="panel  panel-platColor5">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-envelope"></i> יצירת נושא חדש</h3>
                </div>

                <form name="topicForm" ng-submit="submitTopic()" >
                    <md-input-container class="md-block">
                        <label>נושא</label>
                        <textarea name="topicTitle" ng-model="sendTopic.topicTitle" md-maxlength="50" rows="1" cols="40"  md-select-on-focus required ng-pattern="regexTopic"></textarea>
                        <div ng-messages="topicForm.topicTitle.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                            <div ng-message="pattern">
                                <div class="alert alert-warning">
                                    <strong>טעות !</strong>                                             הנושא צריך להכיל אותיות באנגלית בלבד וללא רווחים למשל :example_topic
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <md-input-container class="md-block">
                        <label>הנושא בעברית אשר יוצג למשתמשים</label>
                        <textarea name="topicTitleHebrew" ng-model="sendTopic.topicTitleHebrew" md-maxlength="50" rows="1" cols="40"  md-select-on-focus required ng-pattern="regexTopicHebrew"></textarea>
                        <div ng-messages="topicForm.topicTitleHebrew.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                            <div ng-message="pattern">
                                <div class="alert alert-warning">
                                    <strong>טעות !</strong>                                             הנושא שיוצא למשתמשים צריך להכיל אותיות בעברית בלבד למשל :תזונה נכונה
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                    <br><br>
                    <md-button  type="submit" class="md-raised md-primary">צור נושא</md-button>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <h1 class="page-header">  אירועים וסדנאות </h1>
            <div class="panel  panel-platColor5">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-envelope"></i> יצירת הודעה חדשה</h3>
                </div>

                <form name="messageForm" ng-submit="submitMessage()" >
                    <md-input-container class="md-block">
                        <label>נושא</label>
                        <textarea name="messageTitle" ng-model="sendMessage.messageTitle" md-maxlength="50" rows="1" cols="40"  md-select-on-focus required></textarea>
                        <div ng-messages="messageForm.messageTitle.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>תוכן</label>
                        <textarea name="messageBody" ng-model="sendMessage.messageBody" md-maxlength="2000" rows="4"   md-select-on-focus required></textarea>
                        <div ng-messages="messageForm.messageBody.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                        </div>
                    </md-input-container>
                    <md-button  type="submit" class="md-raised md-primary">שלח הודעה</md-button>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <h1 class="page-header"> הודעת תשלום למשתמש </h1>
            <div class="panel  panel-platColor5">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-envelope"></i> יצירת הודעה חדשה</h3>
                </div>

                <form name="paymentForm" ng-submit="sendPaymentMessage()" >

                    <md-content>
                        <md-select ng-model="sendPayment.selectedUserPayment" placeholder="בחר לקוח" required>
                            <md-option ng-repeat="item in allUsers" ng-value="{item}" >
                                {{ item.name + ' ' + item.lastName + ' - '+ item.email }}
                            </md-option>
                        </md-select>
                    </md-content>

                    <md-input-container class="md-block">
                        <label>תאור התשלום</label>
                        <textarea name="messageTitle" ng-model="sendPayment.paymentTitle" md-maxlength="50" rows="1" cols="40"  md-select-on-focus required></textarea>
                        <div ng-messages="paymentForm.messageTitle.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>סכום</label>
                        <textarea name="messageAmount" ng-model="sendPayment.paymentAmount" md-maxlength="10" rows="1"   md-select-on-focus required ng-pattern="regexAmount"></textarea>
                        <div ng-messages="paymentForm.messageAmount.$error">
                            <div ng-message="required">
                                שדה חובה
                            </div>
                            <div ng-message="pattern">
                                <div class="alert alert-warning">
                                    <strong>טעות !</strong>                                            יש להזין מחיר נכון לדוגמא: 120.00
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                    <md-button  type="submit" class="md-raised md-primary">שלח הודעה</md-button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <h1 class="page-header">שיעור חדש</h1>
        <div class="panel  panel-platColor5">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-envelope"></i>יצירת שיעור חדש</h3>
            </div>

            <form name="createClassForm" ng-submit="createNewClass()" >

                <md-input-container class="md-block">
                    <label>שם השיעור</label>
                    <textarea name="class_name" ng-model="newClass.className" md-maxlength="50" rows="1" cols="40"  md-select-on-focus required ></textarea>
                    <div ng-messages="createClassForm.class_name.$error">
                        <div ng-message="required">
                            שדה חובה
                        </div>
                    </div>
                </md-input-container>
                <md-button  type="submit" class="md-raised md-primary">צור שיעור</md-button>
            </form>
        </div>
    </div>
    <div class="col-lg-4">
        <h1 class="page-header">מחיקת שיעור</h1>
        <div class="panel  panel-platColor5">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-envelope"></i>מחיקת שיעור קיים</h3>
            </div>
            <form name="removeClassForm" ng-submit="removeClass()" >
                <md-content>
                    <md-select ng-model="existClass.selectClassName" placeholder="בחר שיעור" required>
                        <md-option ng-repeat="item in allClasses" ng-value="{item}" >
                            {{item.name}}
                        </md-option>
                    </md-select>
                </md-content>
                <br>
                <md-button  type="submit" class="md-raised md-primary">מחק שיעור זה</md-button>
            </form>
        </div>
    </div>
    <div class="col-lg-4">
        <h1 class="page-header">מחיקת נושא</h1>
        <div class="panel  panel-platColor5">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-envelope"></i>מחיקת נושא קיים</h3>
            </div>
            <form name="removeTopicForm" ng-submit="removeTopic()" >
                <md-content>
                    <md-select ng-model="existTopic.selectTopicName" placeholder="בחר נושא" required>
                        <md-option ng-repeat="item in allTopics" ng-value="{item}" >
                            {{item.topicTitle}}
                        </md-option>
                    </md-select>
                </md-content>
                <br>
                <md-button  type="submit" class="md-raised md-primary">מחק נושא זה</md-button>
            </form>
        </div>
    </div>
</div>
