<div class="signup-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="../../style/gallery/yogalogo.png"/>
            <h1>הרשמה </h1>
            <form name="SignUpForm" ng-submit="submitData()" style="text-align: right">
                <md-input-container class="md-icon-float md-block">
                    <input type="email" ng-pattern="regexMail" name="email" class="form-control" ng-model="userData.email" placeholder="כתובת דואר אלקטרוני"
                           required>
                    <div ng-messages="SignUpForm.email.$error">
                        <div ng-message="required">
                            שדה חובה
                        </div>
                        <div ng-message="pattern">
                            <div class="alert alert-warning">
                                <strong>טעות במייל! </strong>הזן כתובת מייל חוקית
                            </div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <input  name="token" ng-model="userData.token" placeholder="הזן מפתח אשר נשלח אליך במייל"
                            ng-pattern="regexToken" type="text" required>
                    <div ng-messages="SignUpForm.token.$error">
                        <div ng-message="required">
                            שדה חובה
                        </div>
                        <div ng-message="pattern">
                            <div class="alert alert-warning">
                                <strong>טעות מפתח! </strong>     הזן את המפתח שנשלח אליך למייל , צריך להכיל 8 תווים בדיוק
                            </div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <input name="password" ng-model="userData.password" placeholder="סיסמא"
                           ng-pattern="regexPassword"  type="password"  required>
                    <div ng-messages="SignUpForm.password.$error">
                        <div ng-message="required">
                                שדה חובה
                        </div>
                        <div ng-message="pattern">
                            <div class="alert alert-warning">
                                <strong>טעות בסיסמא!</strong>    סיסמא צריכה להכיל אות קטנה אות גדולה ומספרים באורך של 6 תווים לפחות
                            </div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <input name="confirmPassword" ng-model="userData.confirmPassword" placeholder="אישור סיסמא"
                            ng-pattern="regexPassword"   type="password" required>
                    <div ng-messages="SignUpForm.confirmPassword.$error">
                        <div ng-message="required">
                            שדה חובה
                        </div>
                        <div ng-message="pattern">
                            <div class="alert alert-warning">
                                <strong>טעות בסיסמא!</strong>      אישור  סיסמא צריך להכיל אות קטנה אות גדולה ומספרים באורך של 6 תווים לפחות
                            </div>
                        </div>
                    </div>
                </md-input-container>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button type="submit" class="md-raised md-primary">הרשמה</md-button>
                <md-button ng-click="switchState('logIn')" class="md-raised">חזור</md-button>
                </section>
            </form>
        </div>
    </div>
</div>