.login-page {
    text-align: center;
    color: deepskyblue;
}
#sm {
    color: 	deepskyblue;
}
#line{
    color: deepskyblue;
}
#bLogin{
    color: deepskyblue;
    text-align: center;!important;
    background-color: #fff;
    border-color: deepskyblue;
    border-radius: 50px;
}
#bRegis{
    color: deepskyblue;
    text-align: center;!important;
    background-color: #fff;
    border-color: deepskyblue;
    border-radius: 50px;
}
a{
    color: deepskyblue;

}
