th,td {
    text-align: right !important;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: deepskyblue;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: deepskyblue;
}
.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    color: rgba(255,255,255,0.87);
    background-color: deepskyblue;
}
md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color:deepskyblue;
}
md-radio-button.md-default-theme.md-checked .md-ink-ripple, md-radio-button.md-checked .md-ink-ripple {
    color: deepskyblue;
}
md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color:deepskyblue;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, .md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input{
    border-color:deepskyblue;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: black;
}
.navbar-inverse .navbar-brand {
    color: black;
}
md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color:deepskyblue;
    color: rgba(0,0,0,0.87);
}
.btn-success {
    color: #fff;
    background-color: deepskyblue;
    border-color: deepskyblue;
}
.btn-success:hover {
    background-color: deepskyblue;
}
.btn-success:active{
    background:deepskyblue;
}
.btn-success:focus{
     background:deepskyblue;
 }

.md-button:hover {
    background-color: deepskyblue;
}
.md-button:active{
    background:deepskyblue;
}
.md-button:focus{
    background:deepskyblue;
}
